 <div>
 	<div class="dialogLabel">
 		{{conDialog.label}}
 	</div>
 	<div layout="row" layout-sm="column" layout-xs="column" layout-margin>
 		<div ng-class="{'input-container':true}" flex="50" flex-sm="100" flex-xs="100">
 			<label style="max-width:140px;">{{conDialog.parameters[0].label}}</label>
 			<md-select id="{{conDialog.parameters[0].id}}" ng-model="conDialog.parameters[0].value">
 				<md-option ng-value="option" ng-repeat="option in conDialog.parameters[0].options track by $index" ng-selected="$first">{{conDialog.parameters[0].values[$index]}}</md-option>
 			</md-select>
 			<div class="label-suffix" ng-if="conDialog.parameters[0].label_suffix">{{conDialog.parameters[0].label_suffix}}</div>
 			<input ng-if="conDialog.parameters[0].edit" class="edit" type="button" value="Edit" ng-click="dialogBox($event)"/>
 		</div>
 		<div ng-class="{'input-container':true}" flex="50" flex-sm="100" flex-xs="100">
 			<label style="max-width:140px;">{{conDialog.parameters[1].label}}</label>
 			<md-select id="{{conDialog.parameters[1].id}}" ng-model="conDialog.parameters[1].value">
 				<md-option ng-value="option" ng-repeat="option in conDialog.parameters[1].options track by $index" ng-selected="$first">{{conDialog.parameters[1].values[$index]}}</md-option>
 			</md-select>
 			<div class="label-suffix" ng-if="conDialog.parameters[1].label_suffix">{{conDialog.parameters[1].label_suffix}}</div>
 			<input ng-if="conDialog.parameters[1].edit" class="edit" type="button" value="Edit" ng-click="dialogBox($event)"/>
 		</div>
 	</div>
 	<div layout="row" layout-sm="column" layout-xs="column" layout-margin>
 		<div ng-class="{'input-container':true}" flex="50" flex-sm="100" flex-xs="100">
 			<label style="max-width:140px;">{{conDialog.parameters[2].label}}</label>
 			<input type="text" id="{{conDialog.parameters[2].id}}" ng-model="conDialog.parameters[2].value">
 			<div class="label-suffix" ng-if="conDialog.parameters[2].label_suffix">{{conDialog.parameters[2].label_suffix}}</div>
 			<input ng-if="conDialog.parameters[2].edit" class="Edit" type="button" value="Edit" ng-click="mdDialog($event)"/>
 		</div>
 		<div ng-class="{'input-container':true}" flex="50" flex-sm="100" flex-xs="100">
 			<label style="max-width:140px;">{{conDialog.parameters[3].label}}</label>
 			<input type="text" id="{{conDialog.parameters[3].id}}" ng-model="conDialog.parameters[3].value">
 			<div class="label-suffix" ng-if="conDialog.parameters[3].label_suffix">{{conDialog.parameters[3].label_suffix}}</div>
 			<input ng-if="conDialog.parameters[3].edit" class="Edit" type="button" value="Edit" ng-click="mdDialog($event)"/>
 		</div>
 	</div>
 	<div layout="row" layout-sm="column" layout-xs="column" layout-margin>
 		<div ng-class="{'input-container':true}" flex="50" flex-sm="100" flex-xs="100">
 			<label style="max-width:140px;">{{conDialog.parameters[4].label}}</label>
 			<md-select id="{{conDialog.parameters[4].id}}" ng-model="conDialog.parameters[4].value">
 				<md-option ng-value="option" ng-repeat="option in conDialog.parameters[4].options" ng-selected="$first">{{conDialog.parameters[4].values[$index]}}</md-option>
 			</md-select>
 			<div class="label-suffix" ng-if="conDialog.parameters[4].label_suffix">{{conDialog.parameters[4].label_suffix}}</div>
 			<input ng-if="conDialog.parameters[4].edit" class="edit" type="button" value="Edit" ng-click="dialogBox($event)"/>
 		</div>
 		<div ng-class="{'input-container':true}" flex="50" flex-sm="100" flex-xs="100">
 			<label style="max-width:140px;">{{conDialog.parameters[5].label}}</label>
 			<input type="text" id="{{conDialog.parameters[5].id}}" ng-model="conDialog.parameters[5].value">
 			<div class="label-suffix" ng-if="conDialog.parameters[5].label_suffix">{{conDialog.parameters[5].label_suffix}}</div>
 			<input ng-if="conDialog.parameters[5].edit" class="Edit" type="button" value="Edit" ng-click="mdDialog($event)"/>
 		</div>
 	</div>
 	<div layout="row" layout-sm="column" layout-xs="column" layout-margin>
 		<div ng-class="{'input-container':true}" flex="50" flex-sm="100" flex-xs="100">
 			<label style="max-width:140px;">{{conDialog.parameters[6].label}}</label>
 			<input style="max-width:59%;" type="text" id="{{conDialog.parameters[6].id}}" ng-model="conDialog.parameters[6].value">
 			<div class="label-suffix" ng-if="conDialog.parameters[6].label_suffix">{{conDialog.parameters[6].label_suffix}}</div>
 			<input ng-if="conDialog.parameters[6].edit" class="Edit" type="button" value="Edit" ng-click="mdDialog($event)"/>
 		</div>
 	</div>
 	<div class="step-footers">
		<input class="button" type="button" ng-click="stepBack()" value="Save">
		<input class="button" type="button" ng-click="hide()" value="Cancel">
	</div>
 </div>