 <md-card class="DialogInfo">
           <div layout="row" class="headingImage">
           <img class="building" src="/keec/assets/img/skyline.svg" />
                   <label class="heading">Window Edit</label>
                   </div>
                   <div>
                <div layout="row">
                     <md-input-container class="mdContainer" flex="50">
                    <label>Name</label>
                   <input ng-model="BuildingInfo.buildingName">
                  </md-input-container>
                  <md-input-container class="mdContainer" flex="50">
                  <label>Glass Conductance</label>
                  <input type="number" ng-model="BuildingInfo.address">
                     </md-input-container>
                  </div>
                   <div layout="row">
                     <md-input-container class="mdContainer" flex="50">
                    <label>Shading Coefficient</label>
                   <input type="number" ng-model="BuildingInfo.buildingName">
                  </md-input-container>
                  <md-input-container class="mdContainer" flex="50">
                  <label>visible Transmittance</label>
                  <input type="number" ng-model="BuildingInfo.address">
                     </md-input-container>
                  </div>
                </div>
                 <div layout="row" layout-align="center center">
          <md-button class="md-raised">Save</md-button>
           <md-button class="md-raised">Cancel</md-button>
         </div>

           </md-card>
        


        <md-card class="DialogInfo">
           <div layout="row" class="headingImage">
           <img class="building" src="/keec/assets/img/skyline.svg" />
                   <label class="heading">Construction Edit</label>
                   </div>
                   <div layout="row">
                <div layout="column" flex="50">
                    <md-input-container class="wallType" >
                                <label>Ewall Cons-Nolnsu</label>
                                    <md-select name="type" ng-model="BuildingInfo.southWall">
                                    <md-option value="app">Application</md-option>
                                     <md-option value="web">Website</md-option>
                                    </md-select>
                            </md-input-container>
                 <md-input-container class="wallType" >
                                <label>Ewall Cons-Nolnsu</label>
                                    <md-select name="type" ng-model="BuildingInfo.southWall">
                                    <md-option value="app">Application</md-option>
                                     <md-option value="web">Website</md-option>
                                    </md-select>
                            </md-input-container>
                            <md-input-container class="wallType" >
                                <label>Ewall Cons-Nolnsu</label>
                                    <md-select name="type" ng-model="BuildingInfo.southWall">
                                    <md-option value="app">Application</md-option>
                                     <md-option value="web">Website</md-option>
                                    </md-select>
                            </md-input-container>
                  </div>
                   <div layout="column">
                     <md-input-container class="mdContainer" flex="50">
                    <label>New Construction Name</label>
                   <input type="number" ng-model="BuildingInfo.buildingName">
                  </md-input-container>
                  <div layout="row">
                  <md-input-container class="mdContainer" flex="50">
                  <label>Surface Roughness</label>
                  <input type="number" ng-model="BuildingInfo.address">
                     </md-input-container>
                      <md-input-container class="mdContainer" flex="50">
                  <label>Exit Color(absorp)</label>
                  <input type="number" ng-model="BuildingInfo.address">
                     </md-input-container>
                     </div>
                     <md-input-container class="mdContainer" flex="50">
                    <label>New Layer Name</label>
                   <input type="number" ng-model="BuildingInfo.buildingName">
                  </md-input-container>
                  </div>
                </div>
                 <div layout="row" layout-align="center center">
          <md-button class="md-raised">Save</md-button>
           <md-button class="md-raised">Cancel</md-button>
         </div>

           </md-card>
        