<div class="container">
    <div layout="row">
        <div>
          <span class="footer__logo"> </span>
        </div>
        <!-- /.footer-info-wrapper -->
        <div class="footer-links-wrapper">
            <ul layout="row" class="list-inline">
                <li><a target="_blank" href="https://www.kapsarc.org/disclaimer/">Disclaimer</a></li>
                <li><a target="_blank" href="https://www.kapsarc.org/contact-us/">Contact Us</a></li>
                <li><a target="_blank" href="https://www.kapsarc.org/privacy-policy/">Privacy Policy</a></li>
                <li><a target="_blank" href="https://www.kapsarc.org/terms-conditions/">Terms & Conditions</a></li>
            </ul>
        </div>
        <div class="footer-social-links">
            <ul class="social-links">
                <li><a href="https://twitter.com/kapsarc" target="_blank" class="twitter">
                <img src="keec/static/img/twitter.svg"></a></li>
                <li><a href="https://www.linkedin.com/company/kapsarc" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer-info-wrapper">
            <span>Kapsarc © 2016. All Rights Reserved.</span>
        </div>
        <!-- /.footer-links-wrapper -->
    </div>
    <!-- /.row -->
</div>
