<div class="footer-wrapper">
	    <div class="white-logo">
	    	
	    </div>
        <div>
            <a target="_blank" href="https://www.kapsarc.org/disclaimer/">Disclaimer</a>
            <a target="_blank" href="https://www.kapsarc.org/contact-us/">Contact Us</a>
            <a target="_blank" href="https://www.kapsarc.org/privacy-policy/">Privacy Policy</a>
            <a target="_blank" href="https://www.kapsarc.org/terms-conditions/">Terms & Conditions</a>
            <a href="https://twitter.com/kapsarc" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/kapsarc" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
        </div>
        <div>
            Kapsarc © 2016. All Rights Reserved.
        </div>
    </div>
</div>