<!--<footer role="contentinfo" id="keec-footer" ui-view="footer" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <span class="footer__logo"> </span>
            </div>
            <div class="col-xs-12 col-sm-5 footer-links-wrapper">
                <ul class="list-inline">
                    <li><a target="_blank" href="https://www.kapsarc.org/disclaimer/">Disclaimer</a></li>
                    <li><a target="_blank" href="https://www.kapsarc.org/contact-us/">Contact Us</a></li>
                    <li><a target="_blank" href="https://www.kapsarc.org/privacy-policy/">Privacy Policy</a></li>
                    <li><a target="_blank" href="https://www.kapsarc.org/terms-conditions/">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-1 footer-social-links">
                <ul class="social-links">
                    <li><a href="https://twitter.com/kapsarc" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/kapsarc" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 footer-info-wrapper">
                <span>Kapsarc © 2016. All Rights Reserved.
              </div>
          </div>
      </div>
  </footer>-->

  <footer ng-if="footer" role="contentinfo" id="keec-footer1" ui-view="footer" ng-cloak>
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <span class="footer__logo"> </span>
            </div>
            <!-- /.footer-info-wrapper -->
            <div class="col-xs-12 col-sm-5 footer-links-wrapper">
                <ul class="list-inline">
                    <li><a target="_blank" href="https://www.kapsarc.org/disclaimer/">Disclaimer</a></li>
                    <li><a target="_blank" href="https://www.kapsarc.org/contact-us/">Contact Us</a></li>
                    <li><a target="_blank" href="https://www.kapsarc.org/privacy-policy/">Privacy Policy</a></li>
                    <li><a target="_blank" href="https://www.kapsarc.org/terms-conditions/">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-1 footer-social-links">
                <ul class="social-links">
                    <li><a href="https://twitter.com/kapsarc" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/kapsarc" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 footer-info-wrapper">
                <span>Kapsarc © 2016. All Rights Reserved.
      </div>
      <!-- /.footer-links-wrapper -->
    </div>
    <!-- /.row -->
  </div>
</footer>