<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#models">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand header__logo" href="/kbeat/" target="_self"></a>
        </div>
        <div class="collapse navbar-collapse" id="models">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="headerOption" ui-sref-active="active">
                    <a class="selectCountry" ui-sref="app.tlist" translate="menu.tasks"></a>
                </li>-->
                <li class="headerOption" ui-sref-active="active">
                    <a class="selectCountry" ui-sref="app.tlist" translate="menu.help"></a>
                </li>
                <!--<li class="dropdown headerOption">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle selectCountry"> <span translate="menu.models"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu" style="top:100%;">
                        <li class="headerOption1" ui-sref-active="active" ng-repeat="model in models | orderBy : title">
                            <a class="selectCountry"  ui-sref="app.home({ model_name: model.name })" value="{{model.name}}">{{ model.title }}</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </nav>