	<div style="margin-left:75%;">
		<div ng-class="{headerOption:true}" ui-sref-active="active">
			<a class="selectCountry" ui-sref="app.tlist" translate="menu.tasks"></a>
		</div>
		<div ng-if="labels" ng-class="{headerOption:true}" ui-sref-active="active" ng-repeat="model in models | orderBy : title">
			<a class="selectCountry"  ui-sref="app.home({ model_name: model.name })" value="{{model.name}}">{{ model.title }}</a> 
		</div>
		<!-- MD-Menu only Works for smaller screens -->
		<md-menu style="margin-left:25%;" ng-if="menu">
			<md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdOpenMenu()">
				<md-icon md-menu-origin md-svg-icon="/keec/assets/img/menu.svg"></md-icon>
			</md-button>
			<md-menu-content width="4">
				<md-menu-item ng-repeat="model in models | orderBy : title">
					<md-button  href="/keec/model/{{model.name}}" target="_self" value="{{model.name}}"><b><center>{{ model.title }}</center></b></md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
	