<div class="step-content">
	<div class="step-headers">
		<div class="step-header" ng-repeat="step in model.steps">
			<div ng-class="{clickable:true, active:$index==activeStepIndex}" ng-click="activateStep($index)">
				<div class="number">{{$index+1}}</div>
				<div class="label">{{step.label}}</div>
			</div>
			<div class="line" ng-if="$index != model.steps.length-1"></div>
		</div>	
	</div>
	<div class="step-area" ng-show="$index == activeStepIndex" ng-repeat="step in model.steps">
		<div class="step-container-wrapper">
			<div class="step-container flex-{{container.widthPercent}}" ng-repeat="container in step.containers">
				<div class="heading">
					{{container.label}}
				</div>
				<div class="input-area">
					<div class="parameter" ng-repeat="parameter in container.parameters">
						<div class="label">{{parameter.label}}</div>
					</div>
				</div>
			</div>			
		</div>
	</div>	
</div>
