<div class="step-content" layout="column">
	<div class="step-headers">
		<div class="step-header" ng-repeat="step in model.steps">
			<div ng-class="{clickable:true, active:$index==activeStepIndex}" ng-click="activateStep($index)">
				<div class="number">{{$index+1}}</div>
				<div class="label">{{step.label}}</div>
			</div>
			<div class="line" ng-if="$index != model.steps.length-1"></div>
		</div>	
	</div>
	<div class="step-area-wrapper">
		<div class="step-area" ng-show="$index == activeStepIndex" ng-repeat="step in model.steps">
			<div class="step-container-wrapper">
				<div class="step-container flex-{{container.widthPercent}}" ng-if="!container.openOnEdit" ng-repeat="container in step.containers">
					<div ng-class="{body:true, shaped: container.hasShape, buildInfo: container.id=='buildingInformation'}">
						<div class="heading">
							{{container.label}}
						</div>
						<div class="input-area">
							<field ng-if="!field.hide" class="single-input-box flex-{{field.widthPercent}}" field="field" container="container" ng-repeat="field in container.parameters" />
						</div>
					</div>
				</div>			
			</div>
		</div>			
	</div>
	<div class="step-footers" style="position:relative;bottom:0;">
		<input class="button" type="button" ng-click="stepBack()" value="Prev">
		<input class="button" type="button" ng-click="stepNext()" value="Next">
	</div>
</div>