<!DOCTYPE html>
<html>
<head>
  <title translate="site.title"></title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>

  <link rel="shortcut icon" href="/keec/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/keec/favicon.ico" type="image/x-icon">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/keec/assets/vendor/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="/keec/assets/vendor/md-steppers/dist/md-steppers.css"/>
  <link rel="stylesheet" href="/keec/assets/styles/main.css"/>

</head>
<body>
<div class="splash" ng-cloak="">
  <div id="loading-bar-spinner">
    <div class="spinner-icon"></div>
  </div>
</div>

<div class="main-container" ng-cloak="">
  <header ui-view="header"></header>
  <section class="content-area" ui-view="content">
  </section>
  <footer ui-view="footer" ng-cloak></footer>
</div>

<script type="text/javascript" src="/keec/assets/vendor/requirejs/require.js" data-main="/keec/assets/app/config.js"></script>
</body>
</html>
