<!DOCTYPE html>
<html>
<head>
  <title translate="site.title"></title>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>

  <link rel="shortcut icon" href="/keec/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/keec/favicon.ico" type="image/x-icon">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/keec/assets/vendor/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/keec/assets/vendor/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="/keec/assets/vendor/angular-material-data-table/dist/md-data-table.min.css"/>
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/keec/assets/styles/main.css"/>
</head>
<body>
<!-- video bacground
  ........... -->
<!-- <div class="background-wrap">
<video class="my-video" preload="auto" loop="loop" autoplay="true">
<source src="/keec/assets/img/vid/wind_tur_11.mp4" type="video/mp4" />
</video>
</div> -->
<!-- ......... -->

<div class="splash" ng-cloak="">
  <div id="loading-bar-spinner">
    <div class="spinner-icon"></div>
  </div>
</div>
<div class="main-container" ng-cloak="">
<!-- <div style="background:#000;height:5px;"></div>  -->
  <header id="header" ui-view="header"></header>
  <section class="content-area" ui-view="content">
  </section>
  <footer ui-view="footer" ng-cloak></footer>
</div>

<script type="text/javascript" src="/keec/assets/vendor/requirejs/require.js" data-main="/keec/assets/app/config.js"></script>
</body>
</html>
