<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KAPSARC Building Stock Energy Efficiency Online Assessment Tool</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <br />
  <section class="intro-page">
    <div class="row" style="display:flex;">
      <h1 class="introHeading">KAPSARC Building Energy Assessment Tool</h1>
      <!-- <span class="introHeadingButton" id="run-model-button">
        <a href="/kbeat/model/ksa" class="btn btn-primary introButton1" style="background-color:#61a246;border-color:#61a246;border-radius: 0px">Continue to KEEC</a>
      </span>-->
    </div>
    <div class="col-lg-12" id="run-model-button" style="margin-top:2%;">
      <a href="/kbeat/model/ksa" class="btn introButton"><i class="fa fa-arrow-circle-right" aria-hidden="true" target="_self"></i> Run the Model</a>
    </div>

    <div class="row intro-text">
      <p>The KSA Building Energy Assessment tool is a web-based energy analysis tool designed to assist users improve the energy
        efficiency of residential buildings. Based on KAPSARC’s earlier research including the recent work on building energy
        productivity has indicated that the potential for reducing energy consumption and demand is significant for both
        new and existing buildings in the Kingdom of Saudi Arabia (KSA). To tap this potential, a flexible and accessible
        analysis tool can assist in identifying the specific energy efficiency measures and technologies suitable for individual
        buildings in various KSA regions.</p>
      <p>The current version of the KSA energy efficiency tool performs a comprehensive hourly energy analysis of individual
        residential buildings and can assist three major stakeholders: building owners, builders, and government agencies
        including municipalities to verify compliance with current thermal performance standards as well as improve the energy
        efficiency of new residential buildings in KSA. The online tool, based on a state-of-art whole-building energy simulation
        program, utilizes hourly weather data for various locations within KSA. The tool is especially helpful to determine
        the energy performance of various building types and designs.</p>
      <h4>How to use the tool </h4>
      <p>The current version of the tool can evaluate the thermal and energy performance of villas and apartment buildings.
        The main features of the building to be evaluated are required for the tool to function using the various input screens.
        These input screens can be navigated sequentially and allow the user to feed data by specifying basic building characteristics
        including building shape, orientation, building constructions and cooling system type and settings. Based on user’s
        input data, the tool carries out hourly energy analysis of the building and provides the end-use electricity consumption;
        performs compliance analysis with the current Saudi Standards Quality and Meteorology Organization (SASO) thermal
        requirements for building constructions and assess its energy efficiency. The tool can also be used to assist in
        evaluating various design options for building energy systems.
      </p>
    </div>

  </section>
</body>

</html>