<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KAPSARC Building Stock Energy Efficiency Online Assessment Tool</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <br />
  <section class="intro-page">
    <div class="row" style="display:flex;">
      <h1 class="introHeading">KAPSARC Building Stock Energy Efficiency Online Assessment Tool</h1>
      <span class="introHeadingButton" id="run-model-button">
        <a href="/keec/model/ksa" class="btn btn-primary introButton1" style="background-color:#61a246;border-color:#61a246;border-radius: 0px">Continue to KEEC</a>
      </span>
    </div>
    <div class="row">
      <p>The KSA Residential Building Energy Efficiency Online assessment tool is a web-based energy analysis tool to assist
        the users to improve the energy efficiency of residential buildings.</p>
      <p class="introDetails">Based on KAPSARC’s earlier research including the recent work at KAPSARC on building energy productivity has indicated
        that the potential for reducing energy consumption and demand is significant for both new and existing buildings
        in the Kingdom of Saudi Arabia (KSA). To tap this potential, a flexible and accessible analysis tool can assist in
        identifying the specific measures and technologies suitable for individual buildings in various KSA regions.</p>
      <p class="introDetails">The current version of the KSA energy efficiency tool performs a comprehensive hourly energy analysis of individual
        residential buildings and can assist three major stakeholders: building owners, builders, and government agencies
        including municipalities to verify compliance with current thermal performance standards as well as improve the energy
        efficiency of new residential buildings in KSA. The online tool, based on the state-of-art whole-building energy
        simulation program, utilizes hourly weather data for various locations within KSA. The tool is especially helpful
        to determine the energy performance of various design alternatives of buildings.</p>
      <h2>How to use the tool </h2>
      <p class="introDetails">The current version of the tool can evaluate the thermal and energy performance of villas and apartment buildings.
        The main features of the building to be evaluated are required for the tool using the various input screens. These
        input screens can be navigated sequentially and allows the user to input data by specifying basic building characteristics
        including building shape, orientation, building constructions and cooling system type and settings. Based on user’s
        input data, the tool carries out hourly energy analysis of the building and provide the end-use electricity consumption,
        perform compliance analysis with the current KSA thermal requirements for building constructions, and assess the
        energy efficiency. The tool can also be used to assist in evaluating various design options for building energy systems.
        </p>
    </div>
    <div class="col-lg-12" id="run-model-button" style="margin-top:2%;">
      <a href="/keec/model/ksa" class="btn btn-primary introButton">Continue to KEEC</a>
    </div>
  </section>
</body>

</html>