<section id="task-list-container" class="task-list-container row">
<br /><br /><br /><br /><br /><br /><br /><br /><br />

  <h2 class="heading" style="padding-left:0px;margin-left:0px;margin-bottom: 0px;" trangslate="messages.recent_tasks">Recent Tasks</h2>
  <div ng-show="taskPagination.pages > 1" style="float: right;padding: 10px;">
    <button class="btn prevNext" style="font-size: 12px;outline: none;cursor: pointer;margin-right:3px;padding: 4px 5px;" ng-click="taskPaginate('prev')">❮ Previous</button>
    Showing page {{taskPagination.currentPage}} of {{taskPagination.pages}} pages
    <button class="btn prevNext"  style="font-size: 12px;outline: none;cursor: pointer;margin-left:5px;padding: 4px 13px;" ng-click="taskPaginate('next')">Next ❯</button>
  </div>
  <table class="table">
    <tbody>
      <tr class="header">
        <th></th>
        <th translate="properties.task.model_title"></th>
        <th translate="properties.task.created"></th>
        <th translate="properties.task.timetook"></th>
        <th style="width:20%;" translate="properties.task.status"></th>
      </tr>
    </tbody>
    <tbody  ng-repeat="task in tasks | limitTo: taskPagination.limit:taskPagination.start | orderBy: -created track by task.id">
      <tr>
        <td ng-click="task.expanded=!task.expanded" class="expand_collapse">{{task.expanded?'-':'+'}}</td>
        <td>
          <div class="task_model_title">
            <div class="model_title">Energy Efficiency Analysis for  {{ task.country}}</div>
            <div class="parameter" ng-bind-html="task.request|parameterDisplay">{{task.request|parameterDisplay}}</div>
          </div>
        </td>
        <td am-time-ago="task.createdTime"></div></td>
        <td>{{task.createdTime}}</td>
        <td>
          <div class="task">
            <div ng-switch="task.status">
              <div class="task-status" ng-switch-default>
                <div style="color:#b1b196;" class="task-status-message" title="{{ 'properties.task.status.pending' | translate }}">
                  {{ 'properties.task.status.pending' | translate }}
                </div>
                <progressbar type="info" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:gray;" class="task-status" ng-switch-when="RUNNING">
                <div class="task-status-message" title="{{ 'properties.task.status.running' | translate }}">
                  {{ 'properties.task.status.running' | translate }}
                  <span ng-if="task.remainingTime" class="hidden-xs">(ETA {{ task.remainingTime }})</span>
                </div>
                <progressbar type="warning" value="100" class="progress-striped active">
                </progressbar>
              </div>

              <div class="task-status" ng-switch-when="SUCCESS">
                <div style="color:green;" class="task-status-message" title="{{ 'properties.task.status.success' | translate }}">
                    {{ 'properties.task.status.success' | translate }}
                </div>
                <progressbar type="warning" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:red;" class="task-status" ng-switch-when="FAILURE">
                <div class="task-status-message" title="{{ 'properties.task.status.failure' | translate }}">
                  <a style="color:red;" ng-click="showTaskResultDialog(task.id)">
                    {{ 'properties.task.status.failure' | translate }}
                  </a>
                </div>
                <progressbar type="danger" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:red;" class="task-status" ng-switch-when="CANCELLED">
                <div class="task-status-message" title="{{ 'properties.task.status.cancelled' | translate }}">
                    {{ 'properties.task.status.cancelled' | translate }}
                  </div>
                <progressbar type="danger" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:green;" class="task-status" ng-switch-when="COMPLETED">
                <div class="task-status-message" title="{{ 'properties.task.status.completed' | translate }}">
                    <a style="color:green;">
                      {{ 'messages.show_report' | translate }}
                    </a>
                </div>
                <progressbar type="success" value="100">
                </progressbar>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr ng-animate-children="false">
        <td ng-show="task.expanded" class="animate-show parameters" colspan="5"> {{task.request|argumentDisplay}}</td>
      </tr>
     </tbody>
  </table>
</section>