<div id="task-list-container" class="task-list-container row">
  <h2 class="heading" style="padding-left:0px;margin-left:0px;margin-bottom: 0px;" trangslate="messages.recent_tasks">Recent Tasks</h2>
  <div ng-show="taskPagination.pages > 1" style="float: right;padding: 10px;">
    <button class="btn prevNext" style="font-size: 12px;outline: none;cursor: pointer;margin-right:3px;padding: 4px 5px;" ng-click="taskPaginate('prev')">❮ Previous</button>
    Showing page {{taskPagination.currentPage}} of {{taskPagination.pages}} pages
    <button class="btn prevNext"  style="font-size: 12px;outline: none;cursor: pointer;margin-left:5px;padding: 4px 13px;" ng-click="taskPaginate('next')">Next ❯</button>
  </div>
  <table class="table">
    <tbody>
      <tr class="header">
        <th></th>
        <th translate="properties.task.model_title"></th>
        <th translate="properties.task.created"></th>
        <th class="runTime" translate="properties.task.timetook"></th>
        <th style="width:20%;" translate="properties.task.status"></th>
      </tr>
    </tbody>
    <tbody  ng-repeat="task in tasks | limitTo: taskPagination.limit:taskPagination.start | orderBy: -created track by task.id">
      <tr>
        <td ng-click="task.expanded=!task.expanded" class="expand_collapse">{{task.expanded?'-':'+'}}</td>
        <td>
          <div class="task_model_title">
            <div class="model_title">Energy Efficiency Analysis for  {{ task.country}}</div>
            <div class="parameter" ng-bind-html="task.request|parameterDisplay">{{task.request|parameterDisplay}}</div>
          </div>
        </td>
        <td am-time-ago="task.createdTime"></td>
        <td>{{task|runtime}}</td>
        <td>
          <div class="task">
            <div ng-switch="task.status">
              <div class="task-status" ng-switch-default>
                <div style="color:#b1b196;" class="task-status-message" title="{{ 'properties.task.status.pending' | translate }}">
                  {{ 'properties.task.status.pending' | translate }}
                </div>
                <progressbar type="info" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:gray;" class="task-status" ng-switch-when="RUNNING">
                <div class="task-status-message" title="{{ 'properties.task.status.running' | translate }}">
                  {{ 'properties.task.status.running' | translate }}
                  <span ng-if="task.remainingTime" class="hidden-xs">(ETA {{ task.remainingTime }})</span>
                </div>
                <progressbar type="warning" value="100" class="progress-striped active">
                </progressbar>
              </div>

              <div class="task-status" ng-switch-when="SUCCESS">
                <div style="color:green;" class="task-status-message" title="{{ 'properties.task.status.success' | translate }}">
                  {{ 'properties.task.status.success' | translate }}
                </div>
                <progressbar type="warning" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:red;" class="task-status" ng-switch-when="FAILURE">
                <div class="task-status-message" title="{{ 'properties.task.status.failure' | translate }}">
                  <a style="color:red;" ng-click="showTaskResultDialog(task.id)">
                    {{ 'properties.task.status.failure' | translate }}
                  </a>
                </div>
                <progressbar type="danger" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:red;" class="task-status" ng-switch-when="CANCELLED">
                <div class="task-status-message" title="{{ 'properties.task.status.cancelled' | translate }}">
                  {{ 'properties.task.status.cancelled' | translate }}
                </div>
                <progressbar type="danger" value="100" animate="false">
                </progressbar>
              </div>

              <div style="color:green;" class="task-status" ng-switch-when="COMPLETED">
                <div class="task-status-message" title="{{ 'properties.task.status.completed' | translate }}">

                    <a style="color:green;" ui-sref="app.taskResult({task_id: task.id})">
                      {{ 'messages.show_report' | translate }}
                    </a>
                </div>
                <progressbar type="success" value="100">
                </progressbar>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr ng-animate-children="false">
        <td ng-show="task.expanded" class="animate-show parameters" colspan="5"> {{task.request|argumentDisplay}}</td>
      </tr>
    </tbody>
  </table>
</div>
<footer role="contentinfo" id="keec-footer1" ui-view="footer" ng-cloak>
 <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <span class="footer__logo"> </span>
    </div>
    <!-- /.footer-info-wrapper -->
    <div class="col-xs-12 col-sm-5 footer-links-wrapper">
      <ul class="list-inline">
        <li><a target="_blank" href="https://www.kapsarc.org/disclaimer/">Disclaimer</a></li>
        <li><a target="_blank" href="https://www.kapsarc.org/contact-us/">Contact Us</a></li>
        <li><a target="_blank" href="https://www.kapsarc.org/privacy-policy/">Privacy Policy</a></li>
        <li><a target="_blank" href="https://www.kapsarc.org/terms-conditions/">Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-1 footer-social-links">
      <ul class="social-links">
        <li><a href="https://twitter.com/kapsarc" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/kapsarc" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3 footer-info-wrapper">
      <span>Kapsarc © 2016. All Rights Reserved.
      </div>
      <!-- /.footer-links-wrapper -->
    </div>
    <!-- /.row -->
  </div>
</footer>