
<div layout="row" layout-align="center center">
	<div ng-if="field.id=='prev'" class="step-footers-prev" style="position:relative;bottom:0;">
		<input class="button" type="button" ng-click="previous()" ng-value="field.label">		
	</div>
	<div ng-if="field.id=='next'" class="step-footers-next" style="position:relative;bottom:0;">
		<input class="button" type="button" ng-click="next()" ng-value="field.label">		
	</div>
	<div ng-if="field.id=='run'" class="step-footers-next" style="position:relative;bottom:0;">
		<input class="button" type="button" ng-click="run()" ng-value="field.label">		
	</div>
</div>