<div class="dimension-wrapper" ng-if="building.url==field.url">
	<div class="flex-{{field.containerWidthPercent}}" ng-class="{'input-container':true, error: field.error}" ng-repeat="(key, val) in axisObj">
		<label for="txtLeng{{key}}" ng-class="{error: field.error}">{{key}}</label>
		<input type="number" id="txtLeng{{key}}" ng-model="axisObj[key]">
		<div class="label-suffix" ng-if="field.label_suffix">{{field.label_suffix}}</div>
	</div>
	<div class="flex-{{field.containerWidthPercent}}" ng-class="{'input-container':true, error: field.error}">
		<label for ="txtFloorArea" ng-class="{error: field.error}">Floor Area</label>
		<input type="number" id="txtFloorArea" ng-model="txtFloorArea" disabled>
		<div class="label-suffix" ng-if="field.floor_area_label_suffix">{{field.floor_area_label_suffix}}</div>
	</div>
	<div class="shape">
		<svg ng-if = "field.id=='Rectangular'" width="100%" height="100%"  style="stroke: #646464; stroke-width:1px;">
			<rect ng-attr-x="50" ng-attr-y="45" width="80%" height="60%" fill="green"></rect>
			<line ng-attr-x1="50" ng-attr-y1="45-10" ng-attr-x2="" ng-attr-y2="45-10" style="stroke:rgb(255,0,0);stroke-width:2" />
			<text ng-attr-x="{{axisObj['X2']}}" ng-attr-dy="45-30" fill="red" stroke="none">
				<!--{{r.hllabel}}-->
				<tspan ng-attr-x="50-10" ng-attr-y="45-15">{{axisObj['X1']}} {{field.label_suffix}}</tspan>
			</text>
      		<polygon points="50,35 45,32 55,32" fill="red"stroke="none"/>
      		<polygon points="{{50 + axisObj['X1']}},32 {{50 + axisObj['X1']}},32 {{55+axisObj['X2']}},40" stroke="none"/>
	 	</svg>
	</div>
</div>
