<div class="dimension-wrapper" ng-if="building.value=='Rectangular'">
	<div class="flex-{{field.rectangularWidthPercent}}" ng-class="{'input-container':true, error: field.error}">
		<label for="{{field.id}}" ng-class="{error: field.error}">{{field.label}}</label>
		<input type="number" id="{{field.id}}" ng-model="field.value.txtFloorArea">
		<div class="label-suffix" ng-if="field.label_suffix">{{field.label_suffix}}</div>
	</div>
	<div class="flex-{{txtLengY1.rectangularWidthPercent}}" ng-class="{'input-container':true, error: field.error, responsive:true}">
		<label for="{{txtLengY1.id}}" ng-class="{error: field.error}">{{txtLengY1.label}}</label>
		<input type="number" id="{{txtLengY1.id}}" ng-model="field.value.txtLengY1">
		<div class="label-suffix" ng-if="txtLengY1.label_suffix">{{txtLengY1.label_suffix}}</div>
	</div>
	<div class="flex-{{txtFloorArea.rectangularWidthPercent}}" ng-class="{'input-container':true, error: field.error}">
		<label for="{{txtFloorArea.id}}" ng-class="{error: field.error}">{{txtFloorArea.label}}</label>
		<input type="number" id="{{txtFloorArea.id}}" ng-model="field.value.txtFloorArea" disabled>
		<div class="label-suffix" ng-if="txtFloorArea.label_suffix">{{txtFloorArea.label_suffix}}</div>
	</div>	
</div>
