<!-- <div style="color:green;">
	<div style="padding: 20px;padding-left: 40px;">{{field.label}}</div>
	<table class="table-field">
		<tr>
			<th>&nbsp;</th>
			<th style="padding:10px 0px;" ng-repeat="heading in field.column_heading track by $index">{{heading}}</th>
		</tr>
		<tr  ng-repeat="heading in field.row_heading track by $index">
			<td style="padding:0px 5px;">
				{{heading}}
			</td>
			<td ng-repeat="heading in field.column_heading track by $index">
				<input type="text" ng-model="field.value[$index][$parent.$index]" style="outline: none; border: solid 1px green; color: green;padding: 0 15px;">
			</td>
		</tr>
	</table>
</div> -->
<md-table-container>
  <table md-table md-row-select multiple md-progress="true">
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column style="border:1px solid #c1bebd;"><span>&nbsp;</span></th>
        <th md-column md-numeric ng-repeat="heading in field.column_heading track by $index" style="border:1px solid #c1bebd;"><span>{{heading}}</span></th>
     </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-auto-select ng-repeat="heading in field.row_heading track by $index">
        <td md-cell style="padding:0px 5px;">{{heading}}</td>
        <td style="border:1px solid #c1bebd;" md-cell ng-repeat="heading in field.column_heading track by $index">
        	<input type="text" ng-model="field.value[$index][$parent.$index]">
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>