<div class="dimension-wrapper" ng-if="building.url=='T-Shape.jpg'">
	<div class="flex-{{field.tshapeWidthPercent}}" ng-class="{'input-container':true, error: field.error}">
		<label for="{{field.id}}" ng-class="{error: field.error}">{{field.label}}</label>
		<input type="number" id="{{field.id}}" ng-model="field.value.txtLengX1">
		<div class="label-suffix" ng-if="field.label_suffix">{{field.label_suffix}}</div>
	</div>
	<div class="flex-{{txtLengX2.tshapeWidthPercent}}" ng-class="{'input-container':true, error: field.error, responsive:true}">
		<label for="{{txtLengX2.id}}" ng-class="{error: field.error}">{{txtLengX2.label}}</label>
		<input type="number" id="{{txtLengX2.id}}" ng-model="field.value.txtLengX2">
		<div class="label-suffix" ng-if="txtLengX2.label_suffix">{{txtLengX2.label_suffix}}</div>
	</div>
	<div class="flex-{{txtLengX3.tshapeWidthPercent}}" ng-class="{'input-container':true, error: field.error}">
		<label for="{{txtLengX3.id}}" ng-class="{error: field.error}">{{txtLengX3.label}}</label>
		<input type="number" id="{{txtLengX3.id}}" ng-model="field.value.txtLengX3">
		<div class="label-suffix" ng-if="txtLengX3.label_suffix">{{txtLengX3.label_suffix}}</div>
	</div>
	<div class="flex-{{txtLengY1.tshapeWidthPercent}}" ng-class="{'input-container':true, error: field.error}">
		<label for="{{txtLengY1.id}}" ng-class="{error: field.error}">{{txtLengY1.label}}</label>
		<input type="number" id="{{txtLengY1.id}}" ng-model="field.value.txtLengY1">
		<div class="label-suffix" ng-if="txtLengY1.label_suffix">{{txtLengY1.label_suffix}}</div>
	</div>
	<div class="flex-{{txtLengY2.tshapeWidthPercent}}" ng-class="{'input-container':true, error: field.error, responsive:true}">
		<label for="{{txtLengY2.id}}" ng-class="{error: field.error}">{{txtLengY2.label}}</label>
		<input type="number" id="{{txtLengY2.id}}" ng-model="field.value.txtLengY2">
		<div class="label-suffix" ng-if="txtLengY2.label_suffix">{{txtLengY2.label_suffix}}</div>
	</div>
	<div class="flex-{{txtFloorArea.tshapeWidthPercent}}" ng-class="{'input-container':true, error: field.error}">
		<label for="{{txtFloorArea.id}}" ng-class="{error: field.error}">{{txtFloorArea.label}}</label>
		<input type="number" id="{{txtFloorArea.id}}" ng-model="field.value.txtFloorArea" disabled>
		<div class="label-suffix" ng-if="txtFloorArea.label_suffix">{{txtFloorArea.label_suffix}}</div>
	</div>	
</div>