html {
    overflow-y: scroll;
   
}

body {
    min-width: 600px !important;
    margin:0px;
   background: none;
}
* {
    box-sizing: border-box;
}
.content{
	background:none;
   }
   .home{
   	 background-image: url("../img/infographic.jpg");
    background-repeat:no-repeat;
	background-size:cover;
	height:auto;
   }
/*Keec header
..............*/
.header{
	background-color:#f8f8f8;
    border-color: #f8f8f8;
    height:90px;
}
.header__logo {
    background-image: url("../img/logo/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: absolute;
    top: 1.11rem;
    white-space: nowrap;
    width: 20.45rem;
    margin-left:50px;
}
 .navbar-brand {
    font-size: 24px;
    font-weight: 800;
    color: #ffffff !important;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

/* kem-footer
* -------------------------- */
.container {
    padding-left: 8px;
    padding-right: 8px;
}

#kem-footer {
    font-size: 12px;
}

#kem-footer {
    background: #6a6a6a none repeat scroll 0 0;
    border-top: 1px solid #e7e7e7;
    color: #fff;
    border-top: 1px solid #e7e7e7;
    /*color: #807F83;*/
}

#kem-footer a {
    color: #fff;
    text-decoration: none;
}

span.footer__logo {
    background: url("../img/logo/logo--white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
    top: -1.3rem;
    white-space: nowrap;
    width: 20.45rem;
    height: 6.5rem;
}

@media only screen and (max-device-width: 800px) {
    span.footer__logo {
        display: none!important;
    }
}

.footer-info-wrapper, .footer-links-wrapper {
    margin-top: 15px;
}

#kem-footer .list-inline {
    margin-bottom: 0;
    text-align: right;
    list-style-type: none;
}

@media (max-width: 767px) {
    #kem-footer .list-inline {
        text-align: center;
    }
}

#kem-footer .list-inline li {
    border-right: 1px solid #ecf0f1;
    padding-right: 10px;
    padding-left:10px;
}

#kem-footer .list-inline li:first-child {
    padding-left: 0;
}

#kem-footer .list-inline li:last-child {
    border-right: 0;
    padding-right: 0;
}

#kem-footer a:hover {
    color: #61A659;
}

@media (max-width: 767px) {
    #kem-footer .footer-info-wrapper, #kem-footer .social-link-wrapper {
        text-align: center;
    }
    #kem-footer .social-link-wrapper .social-links {
        float: inherit;
    }
}

@media (min-width: 769px) {
    .u-hide-on-mobile {
        display: block;
    }
}

/* Social Links
* -------------------------- */

.footer-social-links {
    margin: 0px!important;
    padding: 0px!important;
    margin-top: 10px!important;
}

@media only screen and (max-device-width: 480px) {
    .footer-social-links {
        display: none!important;
    }
}

.social-links {
    padding-left: 0;
    list-style: none;
    font-size: 15px;
    margin: 0;
}

.social-links>li {
    display: inline-block;
}

.social-links>li a {
    color: rgb(127, 140, 141);
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #bdc3c7;
    border-radius: 50%;
}

.social-links>li a.twitter:hover {
    background-color: #3abdd1;
    color: #fff !important;
    border-color: #3abdd1;
}

.social-links>li a.linkedin:hover {
    background-color: #1D9F75;
    color: #fff !important;
    border-color: #1D9F75;
}

/*Stepper
.......*/
.md-step.md-active md-step-label-wrapper::before, .md-step.md-success md-step-label-wrapper::before {
    background: #ffd200;
   
}

.md-step md-step-label-wrapper::before {
	background:#61a659;
}
.md-step md-step-label-wrapper span {
    color: #807f83;
}
.md-step.md-active md-steppers-wrapper.md-stretch-steppers md-pagination-wrapper md-step-item{
	background:rgb(242, 241, 235);
}
.info{
	background: none;
	margin-right:15px;
	margin-left:15px;
}

/*Building info Tab
..............*/

.BuildingInfo{
	background-color:#f8f8f8;
	opacity: 0.75;
	margin-right:0px;
	height:187px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.BuildingInfo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.BuildingUse{
	background-color:#f8f8f8;
	opacity: 0.75;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:187px;
}
.BuildingUse:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.BuildingShape{
	background-color:#f8f8f8;
	opacity: 0.75;
	margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:204px;
   }
.BuildingShape:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.shape{
	margin-top:0px;
	background-color:#f8f8f8;
	opacity: 0.75;
	height:298px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.shape:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dimension{
	background-color:#f8f8f8;
	opacity: 0.75;
	height:87px;
	margin-right:0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}
.dimension:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.headingImage{
	background: #61a246;
	margin-bottom:10px;
	padding-bottom: 1px;
}
.heading{
	padding:6px;
	font-weight:600;
	color:#fff;
}
.building{
	width:5%;
	height:5%;
}
.mdContainer{
 padding:0px !important;
 margin:7px 7px 0 7px !important;
}
.mdContainer1{
 padding:0px !important;
 margin:15px 7px 0 7px !important;
}

md-input-container.md-default-theme label, md-input-container label, 
md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color:#6a6a6a;
}
md-select.md-default-theme .md-select-value.md-select-placeholder,
 md-select .md-select-value.md-select-placeholder {
    color:#6a6a6a;
}
md-steppers:not(.md-no-step-content):not(.md-dynamic-height) {
    min-height: 631px;
}

/*button
........*/
.md-button.md-default-theme.md-raised, .md-button.md-raised {
    color: #fff;
    background-color: #61a246 !important;
    border-radius: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.md-button.md-default-theme.md-raised, .md-button.md-raised:hover {
    background-color:#fff !important; 
    color: #61a246;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*Envelope
........*/
.ExteriorConstruction{
		background-color:#f8f8f8;
	opacity: 0.75;
	margin-right:0px;
	height:200px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.ExteriorConstruction:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.exterior{
	margin:10px;
	text-align:center;
	font-weight:700;
	font-size: 20px;
}
.wallType{
	margin-top:0px;
	margin-left:0px;
}
.sideLabel{
	margin-top: 12px;
	font-size:12px;
}
.windowContent{
	background-color:#f8f8f8;
	opacity: 0.75;
	margin: 0px 30px 0px 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.windowContent:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.exteriorImage{
background: #61a246;
padding-bottom: 14px;	
}
.exteriorImageSize{
	width:3%;
	height:5%;
}

/*Dialog
.........*/
.DialogInfo{
background-color:#f8f8f8;
	opacity: 0.75;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.DialogInfo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}	

/*Space/DHW
.........*/
.spaceCondition{
	margin-top:0px;
	background-color:#f8f8f8;
	opacity: 0.75;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.spaceCondition:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.headingImage{
	background: #61a246;
	margin-bottom:10px;
	padding-bottom: 1px;
}
.heading{
	padding:6px;
	font-weight:600;
	color:#fff;
}
.buildingImage{
	width:3%;
	height:5%;
}

.domesticHotWater{
	margin-top:0px;
	background-color:#f8f8f8;
	opacity: 0.75;
	height:200px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.domesticHotWater:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.domesticHotWaterImage{
background: #61a246;
	margin-bottom:13px;
	padding-bottom: 1px;
}

/*HVAC system
...........*/
.HVACSystem{
	margin-top:0px;
	background-color:#f8f8f8;
	opacity: 0.75;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.HVACSystem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}