html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html.md-default-theme, html, body.md-default-theme, body {
	color: #666;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	background-color: #fff;
	 /*image background
	 ..............*/
/*	 background-image: url(/keec/assets/img/infographic.jpg);
*/	 background-size: 100% 110%;
background-repeat: no-repeat;
/*background-position:center;*/
/*....................*/
}

* {
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: green;
	outline: 1px solid slategrey;
}

.main-container {
	display: flex;
	flex-direction: column;

/*video background
..................*/
/*position:absolute;
width:100%;
min-height:100%;*/
/*..............*/
}

header{
	height:60px;    
	background-image: url("/keec/assets/img/logo/logo.svg");
	background-size: 160px;
	background-repeat: no-repeat;
	background-position: 13.5%;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	position: fixed;
	width:100%;
	z-index:100;
}
.headerOption{
	float:left;
	width:28%;
	display: block;
	padding-top: 20px;
	height: 60px;
	text-align:center;
}
.headerOption  .selectCountry{
	text-decoration:none;
	color: #807f83;
	font-weight: 500;
}
.headerOption  .selectCountry:hover{
	color:#61a659;
}
.headerOption.active{
	border-bottom: 4px solid;
	border-bottom-color: #ffd200;
	background: #e7e7e7;
}
.active.headerOption:after{
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px;
	border-top-width: 0;
	border-bottom-color: #FFD200;
	content: "";
	top:51px;
	margin:0px 0px 0px 3%;
}

.content-area {
	flex: 1;
	margin:auto;
	width:80%;
	max-width:1070px;
}

.step-content {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin-top:13%;
}

.step-headers {
	display: flex;
	padding-top: 2%;
	position:fixed;
	width:82%;
	max-width:1100px;
	background-color: #fff;
	z-index: 100;
	top:60px;
	padding-bottom:1%;
	padding-left:20px;
}

.step-header {
	display: flex;
	flex: 1;
	padding-top: 3px;

/*	border-right: 1px solid #807f83;
*/}
.step-header:last-of-type {
	flex-grow: 0;
	flex-basis: 175px;
}

.step-header > .clickable {
	cursor: pointer;
	outline: none;
	display: flex;
	padding: 10px 20px;
	background-color: #807f83;
}
.step-header:after{
	content:'';
	width:0px;
	height:0px;
	border-style:solid;
	border-width:30px 0px 30px 30px;
	border-color: transparent transparent transparent #807f83;
}
/*
.step-header > .clickable.active, .step-header > .clickable:hover {
	background-color: rgba(94, 101, 80, 0.25);
	}*/

	.step-header .visited{
		background-color:#dcdbdc !important;
	}

	.step-header .number {
		height: 40px;
		width: 40px;
		border-radius: 100%;
		background:green;
		text-align: center;
		line-height: 40px;
		font-weight: 500;
		cursor: pointer;
		color:#fff;
	}
	
	/*.step-header > .clickable:hover .number,*/  .step-header > .clickable.active .number{
		background-color:  rgb(255, 210, 0);
	}
	.step-header  .label {
		line-height: 40px;
		margin-left: 10px;
		color:#fff;
	}
	.step-header > .line {
		background-color: #debdbd;
		height: 3px;
		align-self: center;
		flex: 1;
		margin: 0 4px;
	}

	.step-area-wrapper {
		flex: 1;
		background-attachment: fixed;
		background-position: center;
		background-repeat: repeat;
		background-size: cover;
		height:650px;
	}
	.step-container > .body {
		background:#f8f8f8;
		position: relative;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.6s; 
	}
	.step-container > .body:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		opacity: 1;
	}
	.step-container > .body-button {
		position: relative;
		opacity: 0.8;
	}
	.step-container > .body-button:hover {
		opacity: 1;
	}

	.step-container > .body.shaped .input-area {
		width: 60%;
	}
	.step-container > .body-button.shaped .input-area-button{
		width: 50%;
	}

	.step-container {
		padding: 0.7%;
	}

	.step-container  .heading {
		background: #61a659;
		color: white;
		padding: 10px;
		background-image: url(/keec/assets/img/building.svg);
		background-size: 20px 20px;
		background-repeat: no-repeat;
		padding-left: 50px;
		background-position: 25px 7px;
	}
	.step-container  .heading-button {
		padding: 10px;
		padding-left: 40px;
	}
	.step-container  .input-area {
		padding: 15px;
		display: flex;
		flex-flow: row wrap;
/*		background-color: #f8f8f8;
*/	}
.step-container  .input-area-button {
	padding: 15px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;	
}

.step-container-wrapper {
	display: flex;
	flex-flow: row wrap;
	max-height: calc(100vh - 200px);
	overflow: auto;
	padding: 2px 15px 15px 15px;
	margin-right: 7px;
}
.step-container.flex-50 {
	flex-basis: calc(50% - 20px)
}

.step-container.flex-button-20 {
	flex-basis: calc(50% - 20px)
}

.step-headers > .breadcrumb{
	width:96%;
	margin:auto;
}

/*Breadcrumb stepper css ..............................*/

.breadcrumbParent{
	width: 100%;
	height: 45px;
	background: #fff;
	display: flex;
	flex: 1;
}

.breadcrumbChild1{
	background-color:#c3c3c2;
	height:45px;
	width:24%;
	clip-path: polygon(75% 0%, 83% 49%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
}
.breadcrumbChild2{
	margin-left: -7%;
	background-color:#c3c3c2;
	height:45px;
	width:24%;
	clip-path: polygon(75% 0%, 83% 49%, 75% 100%, 0% 100%, 8% 49%, 0% 0%);
}

.breadcrumbParent .breadcrumbChild1,.breadcrumbParent .breadcrumbChild2{
	float:left;
	display: flex;
	flex: 1;
	background: green;
}

.breadcrumbParent .breadcrumbChild1 .label,.breadcrumbParent .breadcrumbChild2 .label{
	color: white;
	text-decoration: none; 
	position: relative; 
	display: block;
	float: left;
	padding:18px;
	font-size:15px;
}

.breadcrumbParent .number {
	height: 36px;
	width: 36px;
	border-radius: 100%;
	background:green;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
	cursor: pointer;
	color:#fff;
	margin-left:15%;
	margin-top:5px;
}

.breadcrumbParent > .clickable {
	cursor: pointer;
	outline: none;
	display: flex;
}

.breadcrumbParent .inComplete{
	background:#c3c3c2;
}

.breadcrumbParent .visited{
	background-color:#dcdbdc !important;
}

.breadcrumbParent > .clickable.active .number{
	background:  #fff;
	color:rgb(255, 210, 0);
}
.breadcrumbParent > .clickable.active{
	background:  rgb(255, 210, 0);
}

.checkmark{
	width:36px;
	height:36px;
	display:inline-block;
	transform: rotate(45deg);
}
.checkmark_circle{
	position:absolute;
	width:36px;
	height:36px;
	background:#fff;
	border-radius:100%;
	left:0;
	top:0;
}
.checkmark_stem{
	position: absolute;
	width: 4px;
	height: 18px;
	background-color: #c3c3c2;
	left: 19px;
	top: 7px;
}
.checkmark_tick{
	position: absolute;
	background: #c3c3c2;
	height: 4px;
	width: 10px;
	left: 13px;
	top: 23px;

}


/*Breadcrumb stepper css Ends ..............................*/

.flex-button-20{
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 50%;
	flex: 1 1 50%;
	box-sizing: border-box;
}
.flex-button-20{
	max-width: 10%;
	max-height: 100%;
}
.step-container.flex-100 {
	flex-basis: calc(100% - 20px);
}
.step-container.flex-button-100 {
	flex-basis: calc(100% - 20px);
}
.flex-button-100 {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}
.input-container {
	display: flex;
	margin-bottom: 10px;
}

.input-container.error {
	padding-bottom: 10px;
	position: relative;

}
.input-container.error:after {
	display: block;
	font-size: 10px;
	color: red;
	content: "This field cannot be empty";
	position: absolute;
	top: 36px;
}
.errorTable {
	padding-bottom: 10px;
	position: relative;

}
.errorTable:after {
	display: inline;
	font-size: 13px;
	color: red;
	content: "This field cannot be empty";
	position: relative;
	top: 8px;
	left:40%;
}

.input-container > label {
	margin: 0;
/*	border: 1px solid;
*/	line-height: 30px;
padding-left: 4px;
background-color: #c3c3c2;
color: #000;
width: 70%;
/*padding-right: 10px;
*/max-width: 165px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size:12px;
}

.input-container > label.error {
	background-color: red;
	color:#fff;
}
.input-container > input[type=number],.input-container > input[type=text] {
	color: green;
	margin-left: 0px;
	border: 1px solid #c3c3c2;
	height: 30px;
	outline: none;
	padding-left: 5px;
	position: relative;
	/*top: 1px;*/
	flex: 1;
	min-width: 0;
/*	background:#fff;
*/}

.input-container > select {
	flex: 1;
	margin-left: -1px;
	background: none;
	outline: none;
	height: 30px;
	position: relative;
	top: 1px;
	border: 1px solid green;
	color: green;
	padding-left: 10px;
}

.input-container > .label-suffix {
	width:54px;
	height: 30px;
	line-height: 30px;
	padding: 0 4px;
	background-color: #c3c3c2;
	color: #000;
	position: relative;
	/*top: 1px;*/
/*	opacity: 0.7;
*/	font-size:12px;
}

.step-footers-prev {
	display: flex;
}
.step-footers-next {
	display: flex;
}
.shape {
	position: absolute;
	top: 45px;
	width: 35%;
	right: 70px;
	bottom: 20px;
	/*border: 1px solid #d2c7c7;*/
}

/*.shape label {
	position: relative;
	top: -8px;
	left: 5px;
	font-size: 16px;
	background: white;
	width: auto;
	}*/
	.figure {
		position: initial;
		width:100%;
		padding:25px;
		border:1px solid;
	}

/*footer {
	padding: 30px;
	background-color: #666;
	color: white;
	background-image: url("/keec/assets/img/logo/logo-white.svg");
	background-size: 160px;
	background-repeat: no-repeat;
	background-position: 10px;
	}*/

	/* keec-footer
 * -------------------------- */
#keec-footer{
    padding: 35px 0;
    font-size: 12px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    bottom: 0px;
}

#keec-footer {
    background: #6a6a6a none repeat scroll 0 0;
    border-top: 1px solid #e7e7e7;
    color: #fff;
    border-top: 1px solid #e7e7e7;
    /*color: #807F83;*/
}

#keec-footer a{
    color: #fff;
}


span.footer__logo {
    background: url(../img/logo/logo--white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: absolute;
    top: -1.3rem;
    white-space: nowrap;
    width: 20.45rem;
    height: 4.5rem;
}

@media only screen and (max-device-width: 800px){
span.footer__logo {
    display: none!important;
}
}

.footer-info-wrapper,.footer-links-wrapper {
    margin-top: 15px;
}

#keec-footer .list-inline {
    margin-bottom: 0;
    text-align: right;
}

@media (max-width: 767px) {
    #keec-footer .list-inline {
        text-align: center;
    }
}
#keec-footer .list-inline li {
    border-right: 1px solid #ecf0f1;
    padding-right: 10px;
}
#keec-footer .list-inline li:first-child {
    padding-left: 0;
}
#keec-footer .list-inline li:last-child {
    border-right: 0;
    padding-right: 0;
}
#keec-footer a:hover {
    color: #61A659;
}

@media (max-width:1900px){
	#keec-footer{
		display: none;
	}
}

@media (max-width: 767px) {

    #keec-footer .footer-info-wrapper, #keec-footer .social-link-wrapper {
        text-align: center;
    }

    #keec-footer .social-link-wrapper .social-links {
        float: inherit;
    }
}

@media (min-width: 769px) {
.u-hide-on-mobile {
    display: block;
}

}

/* Social Links
 * -------------------------- */
 .footer-social-links{
    margin: 0px!important;
    padding: 0px!important;
    margin-top: 10px!important;
 }

 @media only screen and (max-device-width: 480px){
    .footer-social-links{
        display: none!important;
    }
 }

.social-links {
    padding-left: 0;
    list-style: none;
    font-size: 15px;
    margin: 0;
}

.social-links > li {
    display: inline-block;
}

.social-links > li a {
    color: rgb(127, 140, 141);
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #bdc3c7;
    border-radius: 50%;
}


.social-links > li a.twitter:hover {
    background-color: #3abdd1;
    color: #fff !important;
    border-color: #3abdd1;
}
.social-links > li a.linkedin:hover {
    background-color: #1D9F75;
    color: #fff !important;
    border-color: #1D9F75;
}


	.step-container-wrapper::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 5px;
		background-color: #F5F5F5;
	}

	.step-container-wrapper::-webkit-scrollbar
	{
		width: 5px;
		background-color: #F5F5F5;
	}

	.step-container-wrapper::-webkit-scrollbar-thumb
	{
		border-radius: 4px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: green;
	}
	.edit {
		width: 40px;
		color: #fff;
		background-color: green;
		border: none;
		outline-color: green;
		border-radius: 0;
		margin-left: 3px;
		cursor: pointer;
	}

	.edit:hover{
		background-color:#fff;
		color:#61a659;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		outline-color: #fff;
	}

	.step-footers-prev > .button{
		width: 120px;
		height: 40px;
		font-size: 17px;
		margin: 5px;
		color: #fff;
		background-color: green;
		border: none;
		outline-color: #61a659;
	}
	.step-footers-prev > .button:hover{
		background-color:#fff;
		color:#61a659;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		outline-color: #fff;
	}
	.step-footers-next > .button{
		width: 120px;
		height: 40px;
		font-size: 17px;
		margin: 5px;
		color: #fff;
		background-color: green;
		border: none;
		outline-color: #61a659;
	}
	.step-footers-next > .button:hover{
		background-color:#fff;
		color:#61a659;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		outline-color: #fff;
	}
	.buttonGroup{
		display:flex;
		flex-direction:row;
		justify-content: center;
	}
	.single-input-box.flex-33 {
		flex: 1;
		flex-basis: 33%; 
	}

	.single-input-box {
		padding: 0 10px 1px;
	}
/*.footer-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer-wrapper a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	margin-right: 20px;
	transition: .3s color;
}
.footer-wrapper a:hover {
	color: #aaa;
}
.footer-wrapper a.social {
	font-size: 20px;
	}*/
	md-radio-button {
		display: inline-block;
		margin-right: 20px;
		color: green;
	}
	.dimension-wrapper {
		display: flex;
		flex-flow: row wrap;
	}
	.dimension-wrapper .flex-50 {
		flex-basis: calc(50% - 20px);
	}
	.dimension-wrapper .flex-button-50 {
		flex-basis: calc(50% - 20px)
	}
	md-radio-button .md-off{
		border-color: green;
	} 
	md-radio-group:not([disabled]) .md-primary .md-on{
		background-color: green;
	}
	md-radio-group:not([disabled]) .md-primary.md-checked .md-off{
		border-color: green;
	}

/*video background
..............*/
.background-wrap{
	position: fixed;
	width:100%;
	height:100%;
	overflow:hidden;
	top:0;
	left:0;
}
.background-wrap > .my-video{
	position: absolute;
	top:0;
	left:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	background-size: cover;
}
/*............*/

/*Responsiveness
..............*/
.buildInfo{
	height:147px !important;
}
md-select{
	margin:0px;
	width:90%;
}
.responsive{
	margin-left: 20px;
}
@media only screen and (min-width: 1300px) {
	.step-area-wrapper{
		height:880px !important;
	}
}

@media only screen and (max-width: 1296px) {
	.input-container > label {
		font-size:11px;
	}
	.input-container > label{
		width:55%;
	}
}
@media only screen and (max-width: 1280px) {
	html.md-default-theme, html, body.md-default-theme, body {
		/*background-size: 100% 100%;*/
		background-size:100% 100%;
		background-position:center;
	}
}
@media only screen and (max-width: 1217px) {
	.content-area{
		width:90%;
	}
	.step-headers{
		width:92%;
	}
	header{
		background-position: 8.5%;
	}

	/*image background
	..............*/
	html.md-default-theme, html, body.md-default-theme, body {
		/*background-size: 100% 185%;*/
		background-size:100% 100%;
		background-position:center;
	}
	/*.............*/
}

@media only screen and (min-height:800px) and (min-width:1280px) {
	.content-area{
		margin:3% auto;
	}
	.step-headers{
		padding-top: 4%;
	}
	.step-area-wrapper{
		height:800px;
	}
	.step-container-wrapper{
		max-height:calc(100vh - 200px)
	}
}
@media only screen and (min-height:900px) and (min-width:1440px) {
	.content-area{
		/*margin:8% auto;*/
	}
	.step-headers{
	/*	padding-top: 9%;*/
	}
}
@media only screen and (min-height:1200px) and (min-width:1920px) {
	.step-area-wrapper{
		height:850px;
	}
	.content-area{
		margin:16% auto;
	}
	.step-headers{
		padding-top: 12%;
	}
	.step-content{
		margin-top:6%;
	}
}
@media only screen and (min-height:1440px) and (min-width:2560px) {
	.step-area-wrapper{
		height:960px !important;
	}
	.content-area{
		margin:16% auto;
	}
	.step-headers{
		padding-top: 13%;
	}
	.step-content{
		margin-top:6%;
	}
}
@media only screen and (max-width:1140px){
	.dimension-wrapper .flex-button-50{
		flex-basis:50%;
	}
	.responsive{
		margin-left: 20px;
	}
	.flex-button-20{
		max-width: 15%;
		max-height: 100%;
	}
	.breadcrumbParent .breadcrumbChild1 .label{
		padding-left:10px;
		font-size:13px;
	}
	.breadcrumbParent .breadcrumbChild2 .label{
		padding-left:10px;
		font-size:13px;
	}
	
}
@media only screen and (max-width:1100px){
	.shape{
		width:30%;
	}
	.shape img{
		width:300px;
	}
	
}
@media only screen and (max-width:1075px){
	.content-area{
		width:92%;
		margin:3% auto;
	}
	.step-headers{
		width:94%;
	}
	.step-container  .input-area{
		padding:15px 5px 15px 5px;
	}
	md-select{
		width:70%;
	}
	header{
		background-position: 7.5%;
	}
}
@media only screen and (max-width:1050px){
	.shape {
		position: absolute;
		bottom: 20px;
	}
	.headerOption{
		width:35%;
	}
}
@media only screen and (max-width:1000px){
	.breadcrumbParent .number{
		height:34px;
		width:34px;
	}
}
@media only screen and (max-width:947px){
	.dimension-wrapper .flex-50{
		max-width:100%;
	}
}

@media only screen and (max-width:950px){
	.hvacImage{
		width:700px;
	}
	.breadcrumbParent .breadcrumbChild1 .label,.breadcrumbParent .breadcrumbChild2 .label{
		padding-left:5px;
		font-size:12px;
	}
}

@media only screen and (max-width:920px){
	.content-area{
		width:100%;
	}
	.step-headers{
		width:100%;
	}
	.input-container > label{
		width:50%;
	}
	header{
		background-position: 3%;
	}
}

@media only screen and (max-width:871px){
	.dimension-wrapper .flex-50{
		margin-left:1px;
	}
}


@media only screen and (max-width:830px){
	.step-header  .label{
		font-size:12px;
	}
	.step-header > .clickable{
		padding:7px;
	}
	.step-header > .line{
		margin:3px;
	}
	.input-container > label {
		font-size:10px;
	}
	.hvacImage{
		width:600px;
		margin-left:40px !important;
	}
}
@media only screen and (max-width:800px){
	.image{
		width:270px !important;
		height:150px;
	}
	.shape{
		top:100px;
	}
	.step-container-wrapper{
		display:block;
	}
	.buildInfo{
		height:100px !important;
	}
	.flex-40 {
		max-width:100%;
	}
	.flex-40 .flex-100{
		max-width:50%;
	}
	.flex-60{
		max-width:100%;
	}
	.flex-50{
		max-width:100%;
	}
}
@media only screen and (max-width:723px){
	md-select{
		width:100%;
	}
	.hvacImage{
		width:500px;
	}
}
@media only screen and (max-width:708px){
	.single-input-box.flex-33 {
		flex: 1;
		flex-basis: 51%;
	}
}
@media only screen and (max-width:700px){
	.step-header  .label{
		font-size:11px;
	}
	.step-header > .line{
		margin:2px;
	}
	.step-header .number{
		margin-left: 14px;
		margin-right:10px;
	}
	.step-header > .clickable{
		display:inline;
		margin-top: 20px;
		padding: 15px;
	}
	.step-header  .label{
		margin-left: 0px;
		font-size:10px;
		padding-left: 10px;
	}
	.flex-button-20{
		max-width: 22%;
		max-height: 100%;
	}
	/*image background
	..............*/
	html.md-default-theme, html, body.md-default-theme, body {
		/*background-size: 100% 225%;*/
		background-size:100% 100%;
		background-position:inherit;
	}
	/*............*/
}

@media only screen and (max-width:657px){
	.input-container > label {
		font-size:9px;
	}
	.image{
		width:250px !important;
	}
}

@media only screen and (max-width:625px){
	.input-container > label {
		width:50%;
	}
	.hvacImage{
		width:400px;
	}
}
@media only screen and (max-width:605px){
	.shape {
		position: initial;
		width:100%;
		padding:0px;
	}
	.step-container > .body.shaped .input-area{
		width:100%;
	}
	.shape label {
		top: -102px;
		left: -85px;
	}
	.image{
		width:330px !important;
	}
	.input-container > label{
		width:48%;
	}
	.step-headers{
		padding-top:3%;
	}
	.step-content{
		margin-top:28%;
		margin-left:5px;
	}
	.breadcrumbParent .number {
		height: 28px;
		width: 28px;
		margin-left: 20px;
		margin-top:3px;
	}
	.breadcrumbParent .number{
		line-height:30px;
	}
	.breadcrumbParent > .clickable,.breadcrumbParent .breadcrumbChild1, .breadcrumbParent .breadcrumbChild2{
		display:block;
	}
	.breadcrumbParent .breadcrumbChild1 .label, .breadcrumbParent .breadcrumbChild2 .label{
		padding: 2px 0px 0px 0px;
		font-size: 9px;
		width:70px;
		text-align:center;
	}
	.step-container-wrapper{
		padding:0px;
	}
	.step-headers{
		width:103%;
		padding-left: 7px;
	}
	.checkmark_circle{
		width: 28px;
		height: 28px;
	}
	.checkmark_stem {
		width: 4px;
		height: 15px;
		left: 15px;
		top: 6px;
	}
	.checkmark_tick {
		position: absolute;
		height: 4px;
		width: 8px;
		left: 10px;
		top: 18px;
	}
	.hvacImage{
		margin-left:10px;
	}
}
@media only screen and (max-width:550px){
	
	.step-header > .clickable{
		padding: 15px 4px 0px 0px;
	}
	.flex-button-20{
		max-width: 25%;
		max-height: 100%;
	}
	.hvacImage{
		width:350px;
	}
	.figure{
		padding:5px;
	}
}
@media only screen and (max-width:450px){
	.md-select-value>span:not(.md-select-icon) .md-text{
		font-size:10px;
	}
	.flex-button-20{
		max-width: 30%;
		max-height: 100%;
	}
	.hvacImage{
		width:300px;
	}
	.breadcrumbParent .number{
		margin-left:25px;
		margin-top:4px;
	}
	.breadcrumbParent .breadcrumbChild1 .label, .breadcrumbParent .breadcrumbChild2 .label{
		width:75px;
	}
	.checkmark{
		margin-left:-5px;
	}
}
@media only screen and (max-width:375px){
	.hvacImage{
		width:240px;
	}
	.step-content {
		margin-top: 33%;
	}
	.buildInfo {
		height: 135px !important;
	}
	.image {
		width: 270px !important;
	}
	.hvacImage {
		margin-left: 0px !important;
	}
	.flex-40 .flex-100{
		max-width:100%;
	}
	
	.flex-button-20{
		max-width: 35%;
		max-height: 100%;
	}
	.breadcrumbParent .breadcrumbChild1 .label, .breadcrumbParent .breadcrumbChild2 .label{
		font-size: 7px;
	}
}
@media only screen and (max-width:330px){
	.breadcrumbParent .number{
		margin-left:18px;
	}
	.breadcrumbParent .breadcrumbChild1 .label, .breadcrumbParent .breadcrumbChild2 .label{
		width:65px;
	}

}
/*Changing in to material containers
................................*/

@media only screen and (max-width:524px){
	md-select{
		width:64%;
	}
}
@media only screen and (max-width:443px){
	.flex-button-50{
		max-width:50%;
	}
	.step-footers > .button{
		font-size:12px;
	}
}
@media only screen and (max-width:430px){
	md-select{
		width:55%;
	}
}
md-select-menu md-content{
	z-index:1000;
}
md-select .md-select-value.md-select-placeholder {
	border: 1px solid green !important;
}
.md-select-value>span:not(.md-select-icon) .md-text{
	color:green;
}
md-select .md-select-value {
	border: 1px solid #c3c3c2;
	background-color: #fff;
}
md-select.md-table-select>.md-select-value {
	border: 1px solid  #c3c3c2 !important;
}
md-select:not([disabled]):focus .md-select-value {
	border: 1px solid  #c3c3c2 !important;
}
.md-select-value>span:not(.md-select-icon){
	padding-left:2px;
	padding-bottom:1px;
}

/*Md-table
.........*/
md-table-container{
	max-width:100%;
}
table.md-table th.md-column {
	font-weight: 400;
}
table.md-table thead.md-head>tr.md-row{
	height:30px;
}
table.md-table td.md-cell{
	border-top: 1px solid green;
}
table.md-table th.md-column {
	color: #000;
	background:#c3c3c2;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2){
	text-align:center;	
	border:1px solid green !important;
}
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
	padding: 0 0px 0 10px;
}
table.md-table th.md-column:last-child {
	padding: 0 0px 0 10px;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2){
	padding:0 10px 0 10px;
}
table.md-table td.md-cell:last-child{
	padding:0 10px 0 10px;
}
table.md-table{
	border:1px solid green;
}
table.md-table td.md-cell>*, table.md-table th.md-column>*{
	border: none;
	background: none;
	outline-color:transparent;
	padding-left: 5px;
}
table.md-table td.md-cell.md-numeric, table.md-table th.md-column.md-numeric{
	text-align: center;
}
table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child {
	padding: 0px 0px 0px 5px;
}
table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row :focus {
	outline:green;
}
table.md-table th.md-column.md-active{
	color:#fff;
}
md-icon{
	height: 15px;
	width: 15px;
	min-height: 15px;
	min-width: 15px;
}
.selectedTableRow{
	box-shadow: 1px 9px 5px #888,1px -7px 5px #888;
	outline-color: #fff;
}
/*md-dialog
.........*/
md-dialog{
	width:inherit;
	max-height: inherit;
}
.dialogLabel{
	color: #fff;
	background: green;
	padding: 14px;
	margin-bottom: 10px;
}

/*md-tab
.............*/
md-tabs .md-tab.md-active{
	color:green;
}
md-tabs md-ink-bar {
	color: green;
	background: green;
}
md-tabs-canvas{
	width:140%;
}
md-tabs .md-tab{
	min-width: 375px;
}
md-menu-item>.md-button{
	font-weight: 600;
}

/* Intro CSS */

.intro-page, .intro-page{
	margin: 30px 0;
	text-align: center;
}

.intro-page{
	display: initial!important;
}

/*Header css..................*/


.md-button.md-icon-button{
	margin:15px 6px;
}
.md-button:not([disabled]){
	color: #fff !important;
}

.md-open-menu-container.md-active{
	top:60px !important;
	left:0px !important;
	min-width:100%;
}
md-menu-content[width="4"]{
	background-color: #34495e;
}


md-select-menu md-content md-option:not([disabled]){
	color: green;
}
md-select-menu md-content md-option[selected] {
	color: green !important;
}
md-select-menu md-content md-option:not([disabled]):hover {
	color: green;
}
md-select-menu md-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

md-select-menu md-content::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

md-select-menu md-content::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: green;
}

/*Task List css..............*/


/* css for pagination of the table */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.prevNext{
	background-color:#49a858 !important;
	color:#fff !important;
	font-family: 'Roboto', sans-serif !important;
	border-radius:0px;
}
.prevNext:hover{
	box-shadow: 0 6px 15px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.19)
}
.prevNext:active{
	opacity:0.8;
}
/* End of css for table pagination */
#task-list-container
{

}
#task-list-container h2
{
	color: #666666;
	font-size: 24px;
	font-weight: 400;
}

#task-list-container .table .progress
{
	border-radius: 0px;
	height: 8px;
}
#task-list-container .table th
{
	background-color: #f8f8f8;
	color: #666666;
	text-align: center;
	font-size: 19px;
	font-weight: 400;
	padding: 12px;
	border: none;
	position: relative;
}

#task-list-container .table .task-status-message
{
	padding: 10px;
	font-weight: 700;
	font-size: 16px;
	background: #eae4e4;
	margin-bottom: 5px;
	cursor: pointer;
}

#task-list-container .table .task-status
{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 10px;
	position: relative;
	padding-bottom: 10px;
}

#task-list-container .table td.parameters
{
	padding: 12px;
	background-color: #f8f8f8;
}

#task-list-container .table .task
{
	position: relative;
}

#task-list-container .table .task-action
{
	position: absolute;
	top: 0px;
	right: 5px;
	font-weight: 300;
	font-size: 40px;
	color: #ccc;
}

#task-list-container .table .task-action a
{
	text-decoration: none;
	cursor: pointer;
	color: #ccc;
}
#task-list-container .table th::after {
	content: '';
	background-color: #ccc;
	position: absolute;
	left: 100%;
	top: 10px;
	bottom: 10px;
	width: 2px;
	z-index: 1;
}

#task-list-container .table th:first-of-type::after, #task-list-container .table th:last-of-type::after
{
	display: none;
}

#task-list-container .table td
{
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

#task-list-container .table td .model_title
{
	padding: 10px;
	font-size: 18px;
	color: #666;
	padding-bottom: 2px;
}

#task-list-container .table td .parameter
{
	padding: 0px 5px 5px 5px;
	color: #666;
}

#task-list-container .table td.expand_collapse
{
	font-size: 40px;
	padding: 0px;
	text-align: center;
	font-weight: 100;
	color: #ccc;
	cursor: pointer;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	transition:  0.5s linear all;
}
.animate-show.ng-hide {
	line-height: 0;
	opacity: 0;
	padding: 0 10px;
}
/* css for table */

/*...........................*/